::before,
::after {
  box-sizing: border-box;
}

:root {
  --main-color: #57577a;
}

main {
  height: 400px;
  padding: 20px;
  border: 10px solid var(--main--color);
}

h1 {
  text-align: center;
  border-bottom: solid;
  padding: 20px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "Mooli", sans-serif;
  font-family: "Roboto Slab", serif;
  background-color: rgb(214, 194, 13);
}

nav a {
  color: #000000;
  border: silver;
  font-size: 110%;
  border: solid;
  border-radius: 66%;
  width: 200px;
  background-color: dodgerblue;
  padding: 15px;
}

ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  margin: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}

main article {
  border-bottom: solid;
  padding: 20px;
  text-align: center;
}

h2 {
  padding: 15px;
}
.next-trip-header {
  width: 200px;
  height: 100px;
  background: dodgerblue;
  border-radius: 40px 999em 999em 40px;
  text-align: end;
  display: inline-flex;
  align-content: stretch;
  align-items: center;
  margin: 20px 0px 50px;
}

section.next-trip-photos {
  display: flex;
}

img {
  width: 400px;
  height: 400px;
  margin: 15px;
  border: solid;
  border-radius: 25%;
  background-color: #1c1c1c;
}

.next-trip-photos h3 {
  display: flex;
  justify-content: space-around;
}
